.taskHeader {
  text-align: center;
width: 100%;
height: 150px;
/* border: 1px red solid; */
color: aliceblue;
background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
border-radius: 10px;
}
